# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Local AWS environment config
.config
.env.aws

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Infracost
infracost.json
infracost-base.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.pem
*.key